@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

html {
  scroll-behavior: smooth;
}

#title {
  background-color: #051937;
}

body {
  color: #f6f5f7;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.onwhite {
  color: #051937;
}

.container-fluid {
  padding: 3% 10% 9%;
  height: 420px;
}

.titleimg {
  width: 50%;
  top: 18px;
  position: absolute;
  right: 10%;
}

/*Nav bar*/
.navbar-brand {
  font-size: 1.5em;
  padding: 0 0 3.5rem;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.1rem;
}

.navbar-collapse {
  padding: 0 0 3.5rem;
}

/*Separator*/
.sep {
  height: 10vh;
}

/*Part mid section*/

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #051937;
  /*background-image: linear-gradient(to right bottom, #051937, #17315d, #2b4a86, #4165b1, #5881de);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #051937;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  margin: 0;
}

a:hover{
  text-decoration: none;
  color: #d3d3d3;
}

/*Features*/
#features {
  padding: 6% 12%;
  background-color: #051937;
  position: relative;
  /*z-index: 1;*/
}

.featurebox {
  text-align: center;
  padding: 5%;
  padding-bottom: 0;
}

/*Responsiveness*/
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .titleimg {
    position: static;
    transform: rotate(0);
  }
}
